button {
    outline: none;
}

ul {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
}

select {
    cursor: pointer;
}

header {
    width: 100%;
    display: inline-block;
    max-width: 1920px;
    background: rgba(19, 27, 43, 0.70);
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
}
.separator {
    display: inline-block;
    width: 100%;
    height: 15px;
    background: #f9f9f9;
}

.category-top-banner {
    width: 100%;
    max-width: 1920px;
    height: 487px;
}
img.position-banner {
    width: 100%;
    max-width: 1920px;
    position: absolute;
    height: 487px;
    z-index: 1;
}

.logo-header {
    float: left;
    line-height: 61px;
    margin-top: 5px;
}

.button-menu-cart {
    float: left;
}

.button-menu-cart .menu-hover {
    border: none;
    float: left;
    line-height: 68px;
    background: #aa0b25;
    color: #eef4fc;
    font-size: 17px;
    padding: 0 15px;
    border-bottom: 2px solid #7f081c;
    font-family: 'GothamPro';
}

.button-menu-cart .modal-cart {
    border: navajowhite;
    line-height: 68px;
    height: 70px;
    border-bottom: 2px solid #7f081c;
    padding: 0 13px;
    border-left: 1px solid #970a21;
    background: #a10a23;
    color: #fff;
    font-size: 20px;
    position: relative;
}

.button-menu-cart .modal-cart .number-cart-product {
    font-size: 12px;
    position: absolute;
    top: -15px;
    right: 5px;
}

.top-navigation {
    float: left;
}

.top-navigation ul {
    padding-left: 15px;
}

.top-navigation ul li {
    display: inline-block;
    line-height: 70px;
}

.top-navigation ul li a {
    display: block;
    color: #eef4fc;
    font-size: 17px;
    padding-right: 15px;
    font-family: 'GothamPro';
}

.header-login {
    float: left;
}

.header-login button {
    line-height: 70px;
    background: transparent;
    border: none;
    font-size: 17px;
    color: #eef4fc;
    border-left: 1px solid rgba(238, 238, 238, 0.17);
    border-right: 1px solid rgba(238, 238, 238, 0.17);
    padding: 0 15px;
    font-family: 'GothamPro';
}

.select-language {
    float: left;
}

.select-language button {
    border: none;
    background: transparent;
    line-height: 70px;
    padding: 0 0px;
    padding-left: 15px;
}

.select-language button i {
    color: rgba(255, 255, 255, 0.66);
    padding-left: 5px;
}

.list-language {
    display: none;
    padding-left: 0px;
}

.list-language li {
    list-style: none;
    padding-left: 0px;
}

.list-language li a {
    display: block;
    margin: auto;
    width: 100%;
}

.list-language li a img {
    display: block;
    margin: 10px auto;
}

ul.list-language {
    margin-bottom: 0px;
    background: rgba(19, 27, 43, 0.70);
    position: absolute;
    top: 68px;
    padding: 5px 15px;
    left: 0px;
    min-width: auto;
    border-radius: 0px;
}
dropdown-menu.list-language {
    min-width: auto;
}
.list-language li button {
    padding: 0px;
    line-height: 40px;
}
.position-banner-text {
    position: relative;
    z-index: 2;
}
.title-category {
    display: inline-block;
    width: 100%;
    margin-top: 90px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.title-category h1 {
    color: #eef4fc;
    font-size: 28px;
    font-family: 'GothamPro-Medium';
}

.desc-category {
    width: 100%;
    display: inline-block;
    margin-top: 65px;
}

.desc-category h2 {
    font-family: 'GothamPro-Medium';
    color: #eef4fc;
    font-size: 21px;
    display: inline;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.33);
}

.desc-category p {
    font-family: 'GothamPro';
    color: #eef4fc;
    font-size: 18px;
    margin-top: 35px;
    background: rgba(0, 0, 0, 0.33);
}

.breadcrumbs {
    display: inline-block;
    width: 100%;
    background: #f9f9f9;
}

.breadcrumbs ul {
    margin-bottom: 0px;
}

.breadcrumbs ul li {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
}

.breadcrumbs ul li a {
    font-family: 'GothamPro-Medium';
    color: #8c9aad;
    font-size: 12px;
    line-height: 30px;
    display: block;
    position: relative;
}

.breadcrumbs ul li a:after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    position: relative;
    left: 10px;
}

.breadcrumbs ul li:last-child a:after {
    display: none;
}

.breadcrumbs ul li:last-child a {
    color: #2a3a53;
}

.category .category-content-filter {
    display: inline-block;
    width: 100%;
    background: #f4f4f4;
    padding: 25px 0px;
}

.check-box-filter .check-box-filter {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}

.category span.title-filter-block {
    display: block;
    font-family: 'GothamPro-Medium';
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
}

.check-box-filter {
    display: inline-block;
    padding-right: 20px;
    min-width: 80px;
}

.check-box-filter .check-box-filter + label {
    cursor: pointer;
    font-family: 'GothamPro';
    color: #2a3a53;
    font-size: 15px;
    font-weight: normal;
}

.check-box-filter .check-box-filter:not(checked) {
    position: absolute;
    opacity: 0;
}

.check-box-filter .check-box-filter:not(checked) + label {
    position: relative;
    padding: 0 0 0 25px;
}

.check-box-filter .check-box-filter:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 1px;
    background: #fff;
    border: 1px solid #afbed2;
}

.check-box-filter .check-box-filter:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 1px;
    border: 1px solid #afbed2;
}

.check-box-filter .check-box-filter:checked + label:before {
    content: "\f00c";
    position: absolute;
    color: #b91631;
    transition: all .2s;
    font: normal normal normal 14px/1 FontAwesome;
    border: 1px solid #6f829a;
}

.check-box-filter .check-box-filter:checked + label:after {
}

.check-box-filter .check-box-filter:focus + label:before {
}

.options-filter {
    width: 100%;
    display: inline-block;
    margin-top: 0px;
}

.select-filter-option {
    display: inline-block;
    position: relative;
}

.options-filter select {
    width: 180px;
    height: 39px;
    padding: 0 20px 0 7px;
    background: #fff;
    border: 1px solid #afbed2;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
    font-family: 'GothamPro';
    color: #393939;
    margin-right: 10px;
}

.options-filter select::-ms-expand {
    display: none;
}

.select-arrow-3 {
    position: absolute;
    border: 8px solid transparent;
    border-bottom: 0;
    right: 6px;
    top: 0%;
}

.select-arrow-3:before {
    top: 5px;
    right: 10px;
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    z-index: 1;
    font-size: 15px;
}

.search-product-filter {
    width: 100%;
    height: 37px;
    border: 1px solid #afbed2;
    border-radius: 2px;
    padding: 0 15px;
    position: relative;
    font-family: 'GothamPro';
    color: #393939;
}

.search-product-filter:before {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    z-index: 1;
}

.search-product-icon {
    position: absolute;
    border-bottom: 0;
    right: 6px;
}

.search-product-icon:before {
    top: 13px;
    right: 20px;
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    z-index: 1;
    font-size: 13px;
    color: #6f829a;
}

.category-content {
    display: inline-block;
    width: 100%;
    background: #f9f9f9;
    padding: 25px 0px;
}

.sort-product {
    display: inline-block;
    width: 100%;
}

.label-sort {
    display: inline-block;
    font-family: 'GothamPro-Medium';
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.select-sort {
    display: inline-block;
    width: 70%;
    height: 37px;
    border: 1px solid #afbed2;
    border-radius: 2px;
    padding: 0 10px;
    font-family: 'GothamPro';
    color: #393939;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-limit {
    display: inline-block;
    width: 100%;
    height: 37px;
    border: 1px solid #afbed2;
    border-radius: 2px;
    padding: 0 10px;
    font-family: 'GothamPro';
    color: #393939;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-block-relative {
    display: inline-block;
    position: relative;
}

.sort-view-product-col {
    float: right;
}

.btn.btn-default.sortable-product-list {
    border: none;
    background: transparent;
    color: #afbed2;
    font-size: 24px;
    text-shadow: none;
}
.btn.btn-default.sortable-product-list i {
    font-size: 24px;
}

.btn.btn-default.sortable-product-list:hover {
    color: #b91631;
}
.btn.btn-default.sortable-product-list.active {
    color: #b91631;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.product {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.product-min-cart {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    min-height: 475px;
    background: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.product-title {
    font-family: 'GothamPro-Medium';
    text-align: center;
    margin: 15px auto;
    color: #2a3a53;
    font-size: 15px;
    display: block;
    font-weight: normal;
}
.product-thumb .price-old {
    display: block;
    text-align: center;
    font-family: 'GothamPro-Medium';
    color: #bebebe;
    font-size: 18px;
    text-decoration: line-through;
}
.product-thumb .caption {
    min-height:auto;
    padding: 0px;
}
.product-thumb .button-group {
    overflow: visible;
    background-color: transparent;
    border: none;
}
span.cod-product {
    text-align: center;
    display: block;
    font-family: 'GothamPro';
    font-size: 12px;
    color: #393939;
    margin-bottom: 30px;
}
.product-thumb .price-new {
    font-family: 'GothamPro-Medium';
    font-size: 21px;
    text-align: center;
    color: #393939;
    display: block;
}
p.price-product {
    font-family: 'GothamPro-Medium';
    font-size: 21px;
    text-align: center;
    color: #393939;
}

.block-buy-product {
    width: 192px;
    height: 45px;
    opacity: 0;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.block-icon-characteristics {
    display: inline-block;
    width: 100%;
}

.block-icon-characteristics .icon-title-characteristics {
    float: left;
    width: 25%;
}

.block-icon-characteristics .icon-title-characteristics p {
    font-family: 'GothamPro';
    font-size: 9px;
    text-align: center;
    display: block;
    color: #6f829a;
}

.icon-title-characteristics span {
    text-align: center;
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
}

.product-thumb:hover .block-buy-product {
    opacity: 1;
}
.product-thumb:hover {
    cursor: pointer;
}
.product-thumb .price {
    color: #393939;
    min-height: 40px;
}
.product-thumb .button-group button:first-child  {
    width: 145px;
    height: 38px;
    background: #b91631;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 2px;
    float: left;
    font-family: 'GothamPro';
    text-transform: none;
    font-weight: normal;
}
.product-thumb .button-group button:hover:first-child {
    opacity: 0.6;
}
.product-thumb .button-group button:first-child i {
    color: #fff;
}
.product-thumb {
    position: relative;
    overflow: auto;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    min-height: 470px;
    background: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    border: none!important;
}

.block-buy-product button{
    width: 145px;
    height: 38px;
    background: #b91631;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 2px;
    float: left;
}

.block-buy-product a:hover {
    text-decoration: none;
    background: rgba(185, 22, 49, 0.76);
    color: #fff;
}

.block-buy-product button {
    border: none;
    background: #dfe5ed;
    display: inline-block;
    float: left;
    height: 38px;
    width: 46px;
}

.block-buy-product button i {
    color: #6f829a;
    line-height: 38px;
}
.product-list-grid {
    display: none;
}
.product-layout.product-list .caption {
    display: none;
}
.product-layout.product-list .button-group.block-buy-product {
    display: none;
}
.product-layout.product-list .product-thumb {
    min-height: inherit;
}
.product-layout.product-list .product-list-grid,
.product-layout.product-list .product-list-grid .caption,
.product-layout.product-list .product-list-grid .button-group.block-buy-product{
    display: block;
    opacity: 1;
}
.product-layout.product-list .product-list-grid .caption {
    margin-left: 0;
    float: left;
    width: 40%;
    margin-top: 50px;
}
.product-layout.product-list .product-list-grid .caption .product-title,
.product-layout.product-list .product-list-grid .caption span.cod-product{
    text-align: left;
}
.product-layout.product-list .product-list-grid .captain-price-button {
    float: right;
    width: 33%;
    margin-top: 65px;
    margin-right: 25px;
}
.product-layout.product-list .product-list-grid .price-new,
.product-layout.product-list .product-list-grid .price-old{
    text-align: right;
}
.product-layout.product-list .product-list-grid .block-buy-product {
    float: right;
}
.product-layout.product-list .block-icon-characteristics {
    display: inline-block;
    width: 33%;
}
.product-layout.product-list .block-icon-characteristics .icon-title-characteristics {
    width: 15%;
}

.seo-text {
    background: #f4f4f4;
    padding: 30px 0;
}
footer {
    display: inline-block;
    width: 100%;
    background: #131b2b;
    padding: 25px 0px;
}
div#map {
    width: 100%;
    height: 258px;
}
.bottom-block-footer {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
}
.link-footer-block p {
    font-family: 'GothamPro-Medium';
    color: #f4f4f4;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 25px;
}
.link-footer-block ul li {
    list-style: none;
}
.link-footer-block ul li a {
    font-family: 'GothamPro';
    color: #f4f4f4;
    font-size: 13px;
    padding-bottom: 7px;
    display: block;
}
.link-footer-block {
    margin-top: 20px;
}
.phone-footer,
.address-footer{
    margin-top: 20px;
}
.phone-footer p,
.address-footer p{
    display: block;
    padding-left: 25px;
    font-family: 'GothamPro';
    color: #f4f4f4;
    font-size: 13px;
}
.phone-footer i,
.address-footer i{
    float: left;
    color: #afbed2;
}
.social-icon-link-footer {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}
.social-icon-link-footer ul li {
    display: inline-block;
    margin-right: 5px;
}
.social-icon-link-footer ul li a {
    display: inline-block;
    background: #afbed2;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    border-radius: 100%;
}
.social-icon-link-footer ul li a:hover {
    background: #b91631;
}
.social-icon-link-footer ul li a:hover  i {
    color: #131b2b;
}
.social-icon-link-footer ul li a i {
    color: #000;
    font-size: 20px;
    line-height: 30px;
}
.social-icon-link-footer p,
.subscribe-footer-news p{
    font-family: 'GothamPro-Medium';
    color: #f4f4f4;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 25px;
}
.bottom-block-footer .link-footer-block {
    margin-top: 0px;
}
.subscribe-footer-news form input {
    width: 65%;
    height: 38px;
    padding: 0 15px;
    color: #393939;
    font-family: 'GothamPro';
    font-size: 14px;
    border: none;
    border-radius: 3px;
}
.subscribe-footer-news form button {
    height: 38px;
    border: none;
    border-radius: 3px;
    background: #b91631;
    color: #f4f4f4;
    padding: 0 15px;
    font-size: 14px;
    font-family: 'GothamPro';
    margin-left: 15px;
}
.subscribe-footer-news span {
    color: #f4f4f4;
    font-size: 12px;
    font-family: 'GothamPro';
    display: block;
    margin-top: 20px;
}
.license {
    background: url('../img/footer-license.jpg') 50% 50%;
    display: inline-block;
    width: 100%;
    height: 72px;
}
.license span {
    display: inline-block;
    font-family: 'GothamPro-Medium';
    color: #f4f4f4;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 72px;
}
.license p {
    display: inline-block;
    padding: 0 20px;
    color: #f4f4f4;
    font-size: 12px;
}
.select-coutri {
    display: inline-block;
    float: right;
    line-height: 65px;
    position: relative;
}
.select-coutri button {
    border: none;
    background: transparent;
    color: #f4f4f4;
    font-size: 13px;
    font-family: 'GothamPro-Medium';
}
ul.list-coutri {
    display: none;
    background: url('../img/footer-license.jpg') 50% 50%;
}
ul.list-coutri li {
    list-style: none;
    line-height: 30px;
}
ul.list-coutri li a {
    color: #f4f4f4;
    font-size: 13px;
    font-family: 'GothamPro-Medium';
    display: block;
}
ul.list-coutri {
    position: absolute;
    top: -48px;
    left: -5px;
    padding: 0px 10px;
    width: 150px;
    border-bottom: 1px solid #000;
    background: rgba(255, 255, 255, 0.16);
}
.product-card {
    display: inline-block;
    width:100%;
    margin-top: 20px;
}
.carousel-photo-product {
    float: left;
    width: 20%;
    height: 428px;
    overflow: hidden;
}
.image-thumb-product {
    float: left;
    width: 80%;
}
.image-thumb-product img {
    width: 100%;
}

.attributes-icon-product {
    width: 330px;
    display: inline-block;
    margin: 0px auto;
    margin-top: 45px;
}
.attributes-icon-product .icon-title-characteristics {
    float: left;
    width: 25%;
}
.attributes-icon-product .icon-title-characteristics span,
.attributes-icon-product .icon-title-characteristics p{
    display: block;
    text-align: center;
}
h1.title-product-card {
    font-family: 'GothamPro-Medium';
    font-size: 28px;
    text-align: center;
    color: #000;
}
.cod-product-card {
    width: 100%;
    display: inline-block;
    margin: 40px auto;
}
.cod-product-card span {
    display: block;
    text-align: center;
    color: #393939;
    font-size: 15px;
    font-family: 'GothamPro';
}
.price-product-card p {
    font-size: 28px;
    color: #393939;
    display: block;
    text-align: center;
    font-family: 'GothamPro-Medium';
    margin-bottom: 0px;
}
.price-product-card span {
    display: block;
    text-align: center;
    font-family: 'GothamPro-Medium';
    color: #bebebe;
    font-size: 18px;
    text-decoration: line-through;
}
.price-product-card {
    margin-bottom: 30px;
}
.button-group-end-onclick {
    margin-bottom: 20px;
}
button.buy-product-card {
    width: 270px;
    height: 55px;
    margin: auto;
    display: block;
    border: none;
    border-radius: 3px;
    background: #b91631;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'GothamPro-Medium';
}
button.buy-onclick-product-card {
    width: 270px;
    height: 55px;
    margin: auto;
    display: block;
    border: 2px solid #2a3a53;
    border-radius: 3px;
    background: transparent;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'GothamPro-Medium';
    color: #2a3a53;
}
.button-group-compare-whitelist {
    width: 240px;
    margin: auto;
}
.button-group-compare-whitelist button {
    background: transparent;
    border: none;
    vertical-align: middle;
}
.button-group-compare-whitelist button i {
    display: block;
    font-size: 18px;
    color: #2a3a53;
}
.button-group-compare-whitelist button:hover i {
    color: #b91631;
}
.product-page .breadcrumbs {
    margin-top: 70px;
}
.attributes-icon-product .icon-title-characteristics p {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #6f829a;
    font-size: 12px;
    font-family: 'GothamPro';
}
.proposition-module {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    padding: 25px 0;
}
.title-module {
    display: block;
    font-size: 30px;
    color: #000000;
    font-family: 'GothamPro-Medium';
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
.title-module:after {
    top: 100%;
    left: 41%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 18%;
    border-radius: 0px;
    position: absolute;
    pointer-events: none;
    border-bottom: 2px solid #b91631;
}

.title-module:before {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 90%;
    left: 50%;
    font-size: 21px;
    color: #b91631;
    background: #fff;
    display: block;
    padding-top: 2px;
    z-index: 1;
}
.proposition-content {
    width: 100%;
    display: inline-block;
    margin-top: 55px;
}
.proposition-product {
    width: 270px;
    float: left;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    position: relative;
    min-height: 435px;
}
.proposition-product .block-icon-characteristics {
    background: #fcfcfc;
    border-top: 1px solid #f4f4f4;
    padding-top: 15px;
    display: block;
}
.proposition-product:first-child:after {
    content: "\f067";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 35%;
    font-size: 27px;
    color: #393939;
    right: -30%;
}
.proposition-content .proposition-product:first-child {
    margin-right: 130px;
}
.proposition-content .proposition-price {
    float: left;
    width: 300px;
    margin-left: 60px;
    padding-top: 85px;
}
p.title-price-complect {
    color: #393939;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'GothamPro';
    text-align: center;
}
.proposition-price-discount p {
    font-size: 36px;
    color: #393939;
    font-family: 'GothamPro-Medium';
    text-align: center;
    margin-bottom: 0px;
}
.proposition-price-discount span {
    display: block;
    font-size: 24px;
    color: #bebebe;
    text-decoration: line-through;
    text-align: center;
    font-family: 'GothamPro-Medium';
}
.button-proposition-buy button {
    width: 100%;
    border: none;
    height: 70px;
    background: #b91631;
    color: #fff;
    font-size: 18px;
    font-family: 'GothamPro-Medium';
    text-transform: uppercase;
    margin-top: 60px;
}
.proposition-price-discount {
    margin-top: 40px;
}
.tabs-block {
    background: #f9f9f9;
    height: 60px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);

}
ul.nav.nav-tabs.tatb-style-product {
    background: #e3e8ed;
    border-radius: 25px 25px 0px 0px;
    border-top: 1px solid #bbc0c7;
    margin-top: 16px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.05);
}
ul.nav.nav-tabs.tatb-style-product>li>a {
    font-family: 'GothamPro-Medium';
    font-size: 15px;
    color: #2a3a53;
    text-transform: uppercase;
    padding: 10px 23px;
}
ul.nav.nav-tabs.tatb-style-product>li.active>a {
    border-radius: 25px 25px 0px 0px;
    background: #fafafa;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.05);
}
ul.nav.nav-tabs.tatb-style-product>li>a:hover {
    padding: 10px 23px;
}
.tab-content-product .tab-pane {
    padding-top: 55px;
    padding-bottom: 55px;
    margin-top: 5px;
}
.grey {
    background: #fafafa;
}
.white {
    background: #ffffff;
}
.tab-content>.tab-pane {
    background: #fafafa;
}
span.title-tab-desc {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 21px;
    color: #000000;
    font-family: 'GothamPro-Medium';
    border-bottom: 2px solid #b91631;
    padding-right: 30px;
    padding-bottom: 20px;
}
.content-bg-tab p {
    font-size: 18px;
    color: #000;
    font-family: 'GothamPro';
    line-height: 25px;
    margin-bottom: 55px;
}
.content-bg-tab img {
    margin: 55px auto;
    display: block;
}
td.left-td-characteristics {
    color: #000;
    font-size: 15px;
    font-family: 'GothamPro-Medium';
    line-height: 30px;
    padding-right: 30px;
}
td.right-td-characteristics {
    font-family: 'GothamPro';
    font-size: 15px;
    color: #000;
}
.photo-video-tabs a {
    display: inline-block;
    width: 24%;
}
.photo-video-tabs a img {
    display: block;
    width: 100%;
    padding: 15px;
}
.questions-reply-block {
    margin-top: 25px;
    display: inline-block;
    width: 100%;
}
.questions-block {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 25px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.10);
}
.header-questions {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
span.title-questions {
    font-size: 15px;
    color: #2a3a53;
    font-family: 'GothamPro-Medium';
    text-align: left;
}
span.name-author-questions {
    color: #000;
    font-family: 'GothamPro-Medium';
    text-align: right;
    float: right;
}
.content-questions p {
    font-size: 15px;
    color: #000;
    font-family: 'GothamPro';
}
.questions-block.reply-block {
    float: right;
    width: 90%;
    margin-top: 25px;
}
span.title-questions.reply {
    color: #b91631;
}
.button-add-question {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.button-add-question button {
    display: block;
    width: 230px;
    height: 55px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #b91631;
    font-size: 18px;
    font-family: 'GothamPro-Medium';
    margin: auto;
}
.list-product-accessories {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.list-product-accessories .accessories-cart {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    display: inline-block;
}
.list-product-accessories .block-icon-characteristics {
    background: #fcfcfc;
    border-top: 1px solid #f4f4f4;
    padding-top: 15px;
    display: block;
}
.button-add-accessories {
    padding: 5px 5px;
}
button.add-cart-accessories {
    border: none;
    background: #2a3a53;
    color: #fff;
    width: 100%;
    height: 43px;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'GothamPro-Medium';
}
.button-add-accessories button[disabled] {
    opacity: 0.5;
    cursor: no-drop;
}
.carousel-product {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    position: relative;
}
.carousel-product-cart {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 55px;
}
.carousel-product-cart .owl-prev i {
    position: absolute;
    left: 45%;
    font-size: 48px;
    color: #e6e6e6;
}
.carousel-product-cart .owl-next i {
    position: absolute;
    right: 45%;
    font-size: 48px;
    color: #e6e6e6;
}
.carousel-product-cart .owl-nav {
    margin: 0px auto;
    display: block;
    padding: 40px 0px;
}
.wrapper-bg {
    width: 100%;
    padding-top: 70px;
    background: url(../img/bg-all-content.jpg) 50% 50%;
    background-size: cover;
    height: 1080px;
}
.form-login {
    float: right;
    margin-top: 165px;
    background: #f4f4f4;
    width: 500px;
}
h1.title-name-form {
    text-align: center;
    margin-top: 45px;
    font-family: 'GothamPro-Medium';
    color: #000;
    font-size: 28px;
    display: block;
    position: relative;
    margin-bottom: 70px;
}
h1.title-name-form:before {
    content: '';
    border-bottom: 2px solid #b91631;
    position: absolute;
    width: 55%;
    left: 21%;
    top: 100%;
    margin-top: 33px;
}
form.modal-form-login {
    width: 100%;
    display: inline-block;
    padding: 0 25px;
}
form.modal-form-login .group-input label {
    width: 100%;
    color: #2a3a53;
    text-transform: uppercase;
    font-family: 'GothamPro';
    font-size: 12px;
    margin-bottom: 0px;
    padding-left: 10px;
}
form.modal-form-login .group-input input {
    width: 100%;
    height: 48px;
    background: #fff;
    border: 1px solid #afbed2;
    border-radius: 2px;
    outline: none;
    padding: 0px 10px;
}
form.modal-form-login .group-input a {
    float: right;
    border: none;
    background: none;
    font-size: 12px;
    color: #2a3a53;
    font-family: 'GothamPro';
}
form.modal-form-login .group-input .pass-style {
    float: left;
    display: inline-block;
    width: auto;
}
.group-input {
    margin-bottom: 25px;
}
#forgot-password + label {
    cursor: pointer;
    font-family: 'GothamPro';
    color: #2a3a53;
    font-size: 15px;
    font-weight: normal;
}

input[type='checkbox']:not(checked) {
    position: absolute;
    opacity: 0;
}

input[type='checkbox']:not(checked) + label {
    position: relative;
    padding: 0 0 0 25px;
}

input[type='checkbox']:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 17px;
    height: 17px;
    border-radius: 1px;
}

input[type='checkbox']:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 1px;
    border: 1px solid #afbed2;
}

input[type='checkbox']:checked + label:before {
    content: "\f00c";
    position: absolute;
    color: #b91631;
    transition: all .2s;
    font: normal normal normal 14px/1 FontAwesome;
}

input[type='checkbox']:checked + label:after {
}

input[type='checkbox']:focus + label:before {
}
.remember-check {
    padding-left: 10px;
    margin-bottom: 15px;
}
form.modal-form-login button {
    width: 100%;
    border: none;
    background: #b91631;
    height: 55px;
    color: #fff;
    font-family: 'GothamPro-Medium';
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.32);
}
a.link-registration {
    text-align: center;
    display: block;
    line-height: 55px;
    color: #fff;
    background: #2a3a53;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'GothamPro';
}
a.link-registration:hover {
    color: #fff;
}
.form-registration {
    float: right;
    width: 702px;
    background: #f4f4f4;
    margin-top: 20px;
}
.form-registration .group-input {
    height: 80px;
    margin-bottom: 0px;
}
.group-input-radio {
    height: 80px;
}
.group-input-radio label {
    width: 100%;
    line-height: 21px;
}
.group-input-radio label[for='entity'],
.group-input-radio label[for='individual']{
    width: 100%;
    line-height: 21px;
    font-family: 'GothamPro';
    font-weight: 100;
}
label.title-label-type-record {
    display: block;
    width: 100%;
    color: #2a3a53;
    text-transform: uppercase;
    font-family: 'GothamPro';
    font-size: 12px;
    margin-bottom: 1px;
    padding-left: 10px;
}
input[type='radio']:not(checked) {
    position: absolute;
    opacity: 0;
}

input[type='radio']:not(checked) + label {
    position: relative;
    padding: 0 0 0 25px;
    cursor: pointer;
}

input[type='radio']:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0px;
    width: 17px;
    height: 17px;
    border-radius: 1px;
}

input[type='radio']:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    border: 1px solid #afbed2;
}

input[type='radio']:checked + label:before {
    content: "\f111";
    position: absolute;
    color: #6f829a;
    transition: all .2s;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
}
form.modal-form-login button.upload-document-button {
    background: #6f829a;
    height: 45px;
    margin-top: 18px;
    font-size: 16px;
}
.capcha {
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}
.footer-form-registration {
    display: inline-block;
    width: 100%;
}
.footer-form-registration .remember-check {
    padding-left: 0px;
    margin-bottom: 15px;
    padding-top: 7px;
}
p.author-hidden {
    font-family: 'GothamPro';
    font-size: 11px;
    color: #666666;
}
label#login-error,
label#password-error,
label#password_confirm-error,
label#email-error{
    text-transform: none;
    font-size: 11px;
    color: #b91631;
    float: right;
    width: auto;
    margin-top: 4px;
}
.top-navigation-account {
    display: inline-block;
    width: 100%;
    background: #e9e9e9;
    padding-bottom: 10px;
}
h1.title-page-account {
    font-family: 'GothamPro-Medium';
    font-size: 21px;
    color: #000;
    border-bottom: 2px solid #b91631;
    padding-bottom: 15px;
    padding-left: 20px;
}
ul.nav-account li {
    display: inline-block;
    list-style: none;
}
ul.nav-account li a {
    font-family: 'GothamPro-Medium';
    color: #3a4d67;
    font-size: 15px;
    padding: 0 15px;
}
.content-info-clinet {
    /*    display: inline-block;*/
    width: 100%;
    background: #f4f4f4;
    padding: 37px 0px;
}
.blue-block-header {
    width: 100%;
    display: inline-block;
    background: #ffffff;
    border-left: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
span.title-blue-block {
    display: inline-block;
    width: 100%;
    background: #5a7a9d;
    color: #fff;
    padding: 3px 20px;
    border-right: 1px solid #5a7a9d;
    border-left: 1px solid #5a7a9d;
    border-radius: 2px 2px 0px 0px;
    font-family: 'GothamPro-Bold';
    text-transform: uppercase;
    font-size: 14px;
}
.group-account-input {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    height: 23px;
}
form.form-info-client .group-account-input label {
    float: left;
    width: 30%;
    padding-left: 20px;
}
form.form-info-client .group-account-input input {
    float: right;
    width: 66%;
    border: none;
    outline: none;
    font-family: 'GothamPro';
    color: #2a3a53;
    font-size: 14px;
    margin-right: 5px;
    border-bottom: 1px solid #afbed2;
    padding-bottom: 5px;
}
form.form-info-client .group-account-input label {
    float: left;
    width: 33%;
    padding-left: 20px;
    font-size: 12px;
    color: #2a3a53;
    text-transform: uppercase;
    font-family: 'GothamPro';
}
.group-account-input select {
    border: none;
    border-bottom: 1px solid #afbed2;
    width: 66%;
    font-family: 'GothamPro';
    color: #2a3a53;
    font-size: 14px;
    padding-bottom: 5px;
    outline: none;
    margin-right: 5px;
}
.info-track {
    padding: 15px;
}
.content-button-edit {
    display: inline-block;
    width: 100%;
    background: #e9e9e9;
    padding: 35px 0px;
}
.button-cabinet-edit {
    display: inline-block;
    width: 230px;
    height: 55px;
    background: #b91631;
    line-height: 55px;
    color: #fff;
    font-size: 18px;
    font-family: 'GothamPro-Medium';
    border: none;
    border-radius: 2px;
}
.button-cabinet-edit:hover {
    color: #fff;
}
.group-change-password {
    width: 303px;
}
.change-password-form .group-change-password {
    height: 80px;
    margin-bottom: 0px;
}
.change-password-form .group-change-password label {
    width: 100%;
    color: #2a3a53;
    text-transform: uppercase;
    font-family: 'GothamPro';
    font-size: 12px;
    margin-bottom: 0px;
    padding-left: 10px;
}
.change-password-form .group-change-password input {
    width: 100%;
    height: 48px;
    background: #fff;
    border: 1px solid #afbed2;
    border-radius: 2px;
    outline: none;
    padding: 0px 10px;
}
.modal-change-password .modal-content {
    box-shadow: none;
    border: none;
    border-radius: 0px;
}
.modal-change-password .modal-header {
    padding: 0px 20px;
    border: none;
}
.modal-change-password .modal-body {
    padding: 15px 20px;
}
.modal-change-password .modal-body p {
    font-family: 'GothamPro';
    font-size: 14px;
    color: #000;
}
.modal-change-password .modal-footer {
    padding: 15px 20px;
    border: none;
}
.modal-change-password .modal-title {
    margin: 0;
    line-height: normal;
    font-family: 'GothamPro-Medium';
    color: #000;
    font-size: 18px;
    padding-top: 30px;
    border-bottom: 2px solid #b91631;
    padding-bottom: 15px;
}
.modal-change-password button.btn-save-password {
    width: 80px;
    height: 30px;
    border: 2px solid #b91631;
    background: #b91631;
    color: #fff;
    text-transform: uppercase;
    font-family: 'GothamPro-Medium';
    font-size: 12px;
}
.modal-change-password button.btn-cancel-password {
    width: 80px;
    height: 30px;
    border: 2px solid #2a3a53;
    background: transparent;
    color: #2a3a53;
    text-transform: uppercase;
    font-family: 'GothamPro-Medium';
    font-size: 12px;
    margin-left: 10px;
}
.favorite-product {
    width: 100%;
    display: inline-block;
    height: 147px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.21);
}
.favorite-product .left-thumb {
    float: left;
}
.favorite-product .thumb-img {
    width: 157px;
    height: 157px;
    float: left;
}
.favorite-product .thumb-img img {
    width: 100%;
    display: block;
    margin: auto;
}
.favorite-product .name-product-code-stock {
    float: left;
}
.favorite-product p.title-product {
    font-family: 'GothamPro-Medium';
    text-align: center;
    margin-top: 25px;
    color: #2a3a53;
    font-size: 15px;
    display: block;
}
.favorite-product span.code-product {
    display: block;
    font-family: 'GothamPro';
    font-size: 12px;
    color: #393939;
    margin-top: 15px;
}
.favorite-product .item-in-stock {
    color: #00a651;
    font-family: 'GothamPro';
    font-size: 12px;
    margin-top: 15px;
}
.favorite-product .right-button-price-product {
    float: right;
    position: relative;
}
.favorite-product button.delete-favorite-product {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    background: transparent;
}
.favorite-product .price-product-card p {
    font-size: 16px;
}
.favorite-product .price-product-card span {
    font-size: 12px;
}
.favorite-product .block-buy-product {
    opacity: 1;
    padding-right: 15px;
    width: 215px;
}
.favorite-product .price-product-card {
    margin-bottom: 20px;
    margin-top: 25px;
    height: 39px;
}
p.item-in-stock.warning-stock {
    color: #f26522;
}
p.item-in-stock.none-stock {
    color: #bebebe;
}
.bg-table-compare {
    background: #fff;
    border: 1px solid #e9e9e9;
    width: 100%;
    display: inline-block;
    position: relative;
}
table.purpleHorizon {
    border: 1px solid #E9E9E9;
    background-color: #FFFFFF;
    width: 62%;
    float: left;
    text-align: center;
    border-collapse: collapse;
}
table.purpleHorizon img {
    width: 190px;
}
table.purpleHorizon td, table.purpleHorizon th {
    border: 1px solid #E9E9E9;
}
table.purpleHorizon tbody td {

}
table.purpleHorizon tr:hover {
    background: #EAECF0;
    cursor: pointer;
}
table.purpleHorizon thead {
    background: #F9F9F9;
    border-bottom: 1px solid #E9E9E9;
}
table.purpleHorizon thead th {
    font-size: 14px;
    font-family: 'GothamPro-Medium';
    font-weight: normal;
    color: #3A4D67;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 17px;
}
table.purpleHorizon tfoot td {
    font-size: 13px;
}
table.purpleHorizon tfoot .links {
    text-align: right;
}
table.purpleHorizon tfoot .links a{
    display: inline-block;
    background: #792396;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}
td.title-compare-td {
    font-size: 12px;
    color: #3a4d67;
    text-transform: uppercase;
    font-family: 'GothamPro-Medium';
    font-weight: normal;
    padding: 17px 5px;
    min-width: 200px;
}
td.info-compare-td {
    font-size: 13px;
    color: #000;
    font-family: 'GothamPro';
}
button.buy-compare-product {
    width: 120px;
    height: 37px;
    border: none;
    border-radius: 3px;
    background: #b91631;
    color: #fff;
    font-size: 14px;
    font-family: 'GothamPro-Medium';
    margin: 10px 0px;
}
button.delete-list-compare-product {
    border: none;
    background: transparent;
    font-size: 11px;
    color: #3a4d67;
    text-transform: uppercase;
    font-family: 'GothamPro-Medium';
    margin: 10px 0px;
}
table.purpleHorizon tr.last-tr-button {
    border: none;
    background: #f9f9f9;
}
table.purpleHorizon tr.last-tr-button:hover {
    background: #efefef;
    cursor: default;
}
tr.last-tr-button td {
    border-color: #efefef;
}
a.button-compare-select-product {
    position: absolute;
    top: 50%;
    width: 120px;
    height: 37px;
    border: none;
    border-radius: 3px;
    background: #b91631;
    color: #fff;
    font-size: 14px;
    font-family: 'GothamPro-Medium';
    margin: 10px 0px;
    line-height: 37px;
    text-align: center;
    left: 86%;
}
table.historytabs {
    border: 1px solid #E9E9E9;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.historytabs tbody tr {
    border-bottom: 1px solid #E9E9E9;
}
table.historytabs td, table.historytabs th {

    padding: 5px 2px;
}
table.historytabs tbody td {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    font-family: 'GothamPro';
    padding: 19px 0px;
}
table.historytabs tr:nth-child(even) {
    background: #F9F9F9;
}
table.historytabs thead {
    background: #5A7A9D;
}
table.historytabs thead th {
    font-size: 12px;
    font-weight: normal;
    font-family: 'GothamPro-Medium';
    color: #FFFFFF;
    text-align: center;
    padding: 13px 0px;
}
table.historytabs tfoot td {
    font-size: 13px;
}
table.historytabs tfoot .links {
    text-align: right;
}
table.historytabs tfoot .links a{
    display: inline-block;
    background: #792396;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}
.status-order-product {
    font-size: 13px;
    font-family: 'GothamPro-Medium';
    font-weight: normal;
}
.product-delivered {
    color: #00a651;
}
.product-canceled {
    color: #bebebe;
}
.product-transit {
    color: #b91631;
}
.product-issued {
    color: #f26522;
}
.product-in-processing {
    color: #5a7a9d;
}
.img-subscribe-left {
    float: left;
    width: 30%;
}
.img-subscribe-left img {
    display: block;
    margin: auto;
}
.subscribe-content {
    float: right;
    width: 70%;
}
.subscribe-content h1 {
    text-align: center;
    font-size: 28px;
    color: #000;
    font-family: 'GothamPro-Medium';
    text-transform: uppercase;
    margin-top: 125px;
}
.subscribe-content p {
    font-size: 18px;
    color: #000;
    font-family: 'GothamPro';
    text-align: right;
    padding-left: 20px;
}
form.subscribe-form {
    float: right;
    margin-top: 30px;
}
.group-radio-subscribe label {
    font-size: 16px;
    color: #2a3a53;
    font-family: 'GothamPro';
    font-weight: normal;
}
.group-radio-subscribe {
    margin-bottom: 20px;
}
button.save-subscribe-button {
    width: 230px;
    height: 55px;
    border-radius: 3px;
    border: none;
    background: #b91631;
    color: #fff;
    font-size: 18px;
    font-family: 'GothamPro-Medium';
    float: right;
}
.content-checkout {
    display: inline-block;
    width: 100%;
    background: #f4f4f4;
}
span.title-block-chekout {
    font-family: 'GothamPro-Medium';
    font-size: 21px;
    color: #000;
    margin-bottom: 15px;
    display: block;
    margin-top: 30px;
}
.group-input-checkout {
    height: 80px;
    margin-bottom: 0px;
}
form.form-presonal-data {
    padding-bottom: 30px;
}
.group-input-checkout label {
    width: 100%;
    color: #2a3a53;
    text-transform: uppercase;
    font-family: 'GothamPro';
    font-size: 12px;
    margin-bottom: 0px;
    padding-left: 10px;
}
.group-input-checkout input {
    width: 100%;
    height: 48px;
    background: #fff;
    border: 1px solid #afbed2;
    border-radius: 2px;
    outline: none;
    padding: 0px 10px;
}
.content-checkout .group-input-radio {
    height: 80px;
    margin-top: 40px;
}
.content-checkout label.title-label-type-record {
    margin-bottom: 15px;
}
.info-block0-presonal-data {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
}
.info-block0-presonal-data p {
    color: #666666;
    font-size: 12px;
    font-family: 'GothamPro';
}
.block-product-list-checkout {
    width: 100%;
    display: inline-block;
    background: #fafafa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.product-list-check {
    width: 100%;
    display: inline-block;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.thumb-img-checkout {
    float: left;
    width: 29%;
}
.thumb-img-checkout img {
    display: block;
    margin: auto;
    width: 100%;
}
.product-checkout {
    width: 100%;
    display: inline-block;
    height: 125px;
    position: relative;
}
button.delete-checkout-product {
    position: absolute;
    left: 94%;
    top: 10px;
    border: none;
    background: transparent;
}
.center-block-product {
    float: left;
    width: 71%;
}
.title-product p {
    width: 100%;
    font-family: 'GothamPro-Medium';
    font-size: 13px;
    color: #2a3a53;
    padding-right: 40px;
    padding-top: 17px;
}
span.code-product {
    font-size: 12px;
    color: #393939;
    font-family: 'GothamPro';
    float: left;
}
p.new-price-checkout {
    text-align: center;
    font-size: 16px;
    color: #393939;
    font-family: 'GothamPro-Medium';
    margin-bottom: 0px;
}
.cod-and-price {
    width: 100%;
    display: inline-block;
    height: 45px;
}
.cod-and-price {
    float: left;
    width: 50%;
}
.and-price {
    float: right;
    width: 50%;
}
span.old-price-checkout {
    text-align: center;
    display: block;
    font-family: 'GothamPro-Medium';
    font-size: 12px;
    color: #bebebe;
    text-decoration: line-through;
}
.title-product {
    height: 80px;
}
.price-checkout {
    width: 100%;
    display: inline-block;
    border-top: 1px dashed #e1e1e1;
}
.price-checkout table {
    margin-top: 20px;
}
td.price-order-td-discont {
    font-size: 16px;
    color: #000;
    font-family: 'GothamPro';
    padding: 5px 15px;
}
td.all-order-td-price {
    font-size: 21px;
    color: #000;
    font-family: 'GothamPro';
    padding: 5px 15px;
}
td.price-td-number-all {
    font-size: 21px;
    color: #2a3a53;
    padding: 5px 15px;
    font-family: 'GothamPro-Medium';
}
.content-button-order-checkout {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.content-brends {
    background: #f8f8f8;
    display: inline-block;
    width: 100%;
}
h1.title-brends {
    text-align: center;
    position: relative;
    font-size: 48px;
    color: #000;
    font-family: 'GothamPro-Medium';
    margin-bottom: 60px;
}
h1.title-brends:before {
    content: "";
    width: 17%;
    border-bottom: 2px solid #b91631;
    height: 2px;
    position: absolute;
    top: 100%;
    padding-bottom: 15px;
}
.block-brend {
    display: inline-block;
    width: 100%;
    background: #fff;
    height: 360px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.19);
}
.brend-img {
    float: left;
    width: 34%;
    height: 360px;
    padding: 90px 20px;
}
.brend-img img {
    display: block;
    margin: auto;
    width: 100%;
}
.brend-content {
    float: left;
    width: 65%;
    padding: 15px;
}
span.title-brend {
    font-size: 21px;
    color: #000;
    font-family: 'GothamPro-Medium';
    border-bottom: 2px solid #b91631;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
}
.brend-content p {
    font-family: 'GothamPro';
    font-size: 16px;
    color: #000;
    line-height: 30px;
    margin-bottom: 30px;
}
.block-news {
    display: inline-block;
    width: 100%;
    background: #fff;
    margin-bottom: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.19);
}
.news-img {
    float: left;
    width: 34%;
}
.news-img img {
    display: block;
    margin: auto;
    width: 100%;
    min-height: 360px;
}
.category-top-banner.news-bg {
    background-image: url(../img/news-bg.jpg);
}
a.text-button-next {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #2a3a53;
    font-family: 'GothamPro-Medium';
    margin-right: 25px;
    margin-bottom: 25px;
}
.category-top-banner.service-bg {
    background-image: url(../img/services-bg.jpg);
}
.wrapper-bg.page-404 {
    background: url(../img/404-bg.jpg) 50% 50%;
}
.wrapper-bg.page-successful-order {
    background: url(../img/successful-bg.jpg) 50% 50%;
}
.order-service {
    width: 100%;
    display: inline-block;
    border-top: 1px solid #ebebeb;
}
.order-service a {
    float: right;
    display: block;
    width: 270px;
    height: 55px;
    line-height: 55px;
    background: #b91631;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
    font-family: 'GothamPro-Medium';
    margin-top: 20px;
}
.top-block-404-page {
    margin-top: 155px;
}
.block-404-text {
    width: 100%;
    display: inline-block;
}
.block-404-text h1 {
    font-size: 28px;
    color: #fff;
    font-family: 'GothamPro-Medium';
    text-align: left;
    margin-bottom: 60px;
}
.block-404-text p {
    font-size: 18px;
    color: #fff;
    font-family: 'GothamPro';
    padding-right: 17px;
    text-align: left;
    line-height: 30px;
}
.block-code-error h2 {
    color: #fff;
    font-family: 'GothamPro-Medium';
    font-size: 250px;
    margin-top: -60px;
}
.block-code-error p {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-family: 'GothamPro';
}
.page-navigation-404 {
    display: inline-block;
    width: 100%;
    margin-top: 160px;
}
.page-navigation-404 ul li {
    display: inline-block;
    list-style: none;
    width: 33%;
    text-align: center;
}
.page-navigation-404 ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'GothamPro-Medium';
}
.page-navigation-404 ul li a:hover {
    text-decoration: none;
}
.page-navigation-404 ul li a i {
    display: block;
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
}
.successful-block {
    display: inline-block;
    width: 100%;
    margin-top: 85px;
}
.successful-block h1 i {
    display: block;
    text-align: center;
    font-size: 100px;
    color: #000;
    margin-bottom: 30px;
}
.successful-block h1 {
    font-size: 28px;
    color: #000;
    text-align: center;
    font-family: 'GothamPro-Medium';
    position: relative;
    margin-bottom: 90px;
}
.successful-block h1:before {
    content: "";
    width: 20%;
    position: absolute;
    top: 100%;
    border-bottom: 2px solid #b91631;
    padding-top: 25px;
    left: 40%;
}
.successful-block p {
    font-size: 18px;
    text-align: center;
    font-family: 'GothamPro';
}
.button-home {
    display: inline-block;
    width: 100%;
    margin-top: 200px;
}
.button-home a {
    display: block;
    margin: auto;
    text-align: center;
    color: #b91631;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'GothamPro-Medium';
}
.button-home a:hover {
    text-decoration: none;
    color: #b91631;
}
.button-home a i {
    display: block;
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
}
.content-block-tutorial {
    width: 100%;
    display: inline-block;
}
.tutorial-thumb img {
    display: block;
    margin: auto;
    width: 100%;
    padding-right: 10px;
}
.content-block-tutorial button {
    float: left;
    width: 70px;
    height: 65px;
    border: none;
    background: #b91631;
    color: #fff;
    font-size: 30px;
}
.title-block-tutorial {
    float: left;
    width: 290px;
    height: 90px;
    background: #fff;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.14);
    margin-top: -22px;
    margin-left: -3px;
}
.title-block-tutorial span {
    color: #2a3a53;
    font-size: 16px;
    font-family: 'GothamPro-Medium';
    padding: 10px 10px;
    display: block;
}
.title-block-tutorial p {
    color: #2a3a53;
    font-size: 14px;
    font-family: 'GothamPro';
    padding: 0px 20px;
}
.tutorial-block {
    margin-bottom: 20px;
}
.category-top-banner.online-tutorial-bg {
    background-image: url(../img/online-tutorial-bg.jpg);
}
/*
Mf style
*/
.mfilter-content,
.mfilter-content_top .mfilter-content > ul > li,
.mfilter-content_top .mfilter-content > ul > li .mfilter-heading,
.mfilter-content_top .mfilter-content > ul > li .mfilter-content-opts{
    border: none;
}
.mfilter-heading {
    background: transparent;
}
.mfilter-heading-text > span {
    display: block;
    font-family: 'GothamPro-Medium';
    text-transform: uppercase;
    font-size: 14px;
    line-height: 37px;
}
.mfilter-price-inputs {
    width: 50%;
    margin-top: 15px;
}
#mfilter-opts-price-min, #mfilter-opts-price-max {
    min-width: 120px;
    max-width: 120px;
    display: inline-block;
    width: 100%;
    height: 30px;
    border: 1px solid #afbed2;
    border-radius: 2px;
    padding: 0 15px;
    position: relative;
    font-family: 'GothamPro';
    color: #393939;
    box-shadow: none;
}
.mfilter-price-slider {
    width: 50%;
}
input#mfilter-opts-price-min {
    float: left;
    width: 50%;
    margin-left: 30px;
}
input#mfilter-opts-price-max {
    float: right;
    margin-right: 30px;
}
.mfilter-slider-slider .ui-slider-range, #mfilter-price-slider .ui-slider-range {
    background: #8c9aad!important;
}
.mfilter-slider-slider, #mfilter-price-slider {
    background: #e1e1e1;
    border-radius: 4px;
    height: 7px;
}
.mfilter-slider-slider .ui-slider-handle, #mfilter-price-slider .ui-slider-handle {
    background: #fff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border:1px solid #b9c5d6;
}
.ui-slider-horizontal .ui-slider-handle {
    top:-7px;
}
.mfilter-content_top .mfilter-tb {
    display: inline-table;
    width: auto;
    min-width: 160px;
}
.mfilter-content_top .mfilter-tb .mfilter-tb-as-tr:first-child label.mfilter-tb-as-td, .mfilter-content_top .mfilter-tb .mfilter-tb-as-tr:last-child label.mfilter-tb-as-td, .mfilter-content_top label.mfilter-tb-as-td {
    padding: 3px 0 0 25px;
}
.mfilter-counter.mfilter-close {
    display: none;
}
.mfilter-heading-content {
    padding: 0px;
}
.mfilter-tb .mfilter-tb-as-tr.mfilter-last-child .mfilter-tb-as-td, .mfilter-tb .mfilter-tb-as-tr:last-child .mfilter-tb-as-td {
    padding-bottom: 0px;
}
.mfilter-tb .mfilter-tb-as-tr.mfilter-first-child .mfilter-tb-as-td, .mfilter-tb .mfilter-tb-as-tr:first-child .mfilter-tb-as-td {
    padding-top: 0px;
}